@import 'photoswipe/dist/photoswipe';

body {
    font-size: 18px;
}

.theme-container {
    position: relative;
    min-height: 100vh;
}

.page {
    padding-bottom: var(--size-bottom);
}

.navbar .navbar-items-wrapper {
    font-size: 1.2rem;
}

main.page {
    transition: unset;
}

:root {
    --t-color: 0;
    --navbar-height: calc(64px + 2 * 0.7rem);
    --font-family: 'Titillium Web', sans-serif;

    // brand colors
    --c-brand: #f5b053;
    --c-brand-light: #e3c97c;

    // background colors
    --c-bg: #272d34;
    --c-bg-secondary: #1f4663;
    --c-text: #e0dedf;
    --c-border: #97c9c7;

    --size-bottom: 5rem;
}
